html {
  font: 10px/20px Arial, sans-serif;
  text-align: center;
}

table {   width: 100%; }

input { margin: 5px 5px;}

a{text-decoration: none;}
a:link,  a:visited { color: #fff;}
a:hover, a:active  { color: #ddd;}

h2 { 
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 10px 10px;
}

#wrapper {
  background: #3575bf url(../images/degradado.jpg) repeat-x;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

#header {
  height: 100px;
  width: 600px;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
  padding-top: 20px;
}
  #header img {
    float: left;
  }

  #header a:link, #header a:visited {
    float: right;
    background: #111;
    padding: 2px 4px;
    margin: 5px 5px;
  }

  #header a:hover, #header a:active {
    float: right;
    color: #111;
    background: transparent;
    padding: 4px 4px;
    margin: 5px 5px;
  }
#content {
  width: auto;
  height: 100%;
  padding: 20px 20px;
}

#data {
  margin: 0 auto;
  width: 660px;
  height: 350px;
  text-align: left;
  float: none;
}

#reset, #random {
  width: 80px;
}

#data-table {
  float:left;
}

  #data-table td{
    width: 120px;
  }

#buttons {
  float: right;
  width: 150px;
  margin-top: 20px;
}

#buttons input{
  width: 80px;
}

#graph-container {
  margin: 20px; auto;
}

#first-column{
  float: left;
}

  #first-column table{
    margin-top: 20px;
    width: 10px;
    float: left;
  }

  #first-column td{
    float: left;
    height: 20px;
  }

  #graph-container td{
    height: 20px;
    width: 20px;
  }

#round-robin {
  float: left;
}

#quantum {
  width: 50px;
  top: 28px;
  position: relative;
}

.running{ background-color: #900;}
.waiting { background-color: #66ff66;}
.doesnt-exist  { background-color: transparent;}

#last-row{
  float: none;
  text-align: center;
}

  #last-row table{
    margin-top: 20px;
    width: 100%;
    float: left;
  }

  #last-row tr{
    float: left;
  }

  #last-row td{
    float: left;
    height: 20px;
    width: 100%;
  }

#table-container{
  width: 900px;
  margin: 40px; 10px;
  height: 300px;
}

#table-container table{
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

#table-container th{
  width: 70px;
  height: 30px;  
  border: 1px #fff solid;
  text-align: center;
}

#table-container td{
  width: 70px;
  height: 30px;  
  border: 1px #fff solid;
  text-align: center;
}

#footer {
  position: absolute;
  height: 80px;
  width: 100%;
  background: #111;
  padding-top: 20px;
}

#footer p{
  color: #fff;
}
